<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1> Contacts </h1>

  <% contacts = Contact.all %>
  
  <ul>
    <% for contact in contacts%>
      <li>
        <% company = Company.find_by({"id" => contact["company_id"]}) %>
        <%= contact["first_name"] + " " + contact["last_name"] + " @ " + company["name"]%>
      </li>
    <% end %>
  </ul>
</body>
</html>